{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
    </a>
    <h1>My Experience Dorming at Montclair State University</h1>
    <p>Is dorming worth it?</p>
    <a type="button" class="btn btn-lg btn-default" href="https://www.montclair.edu/"><span class="glyphicon glyphicon-flash"></span> MSU Main Website</a>
    <a type="button" class="btn btn-lg btn-default" href="https://www.montclair.edu/residence-life/living-on-campus/residence-halls/"><span class="glyphicon glyphicon-flash"></span> Residence Halls</a>
    <a type="button" class="btn btn-lg btn-default" href="https://www.montclair.edu/red-hawk-central/paying-for-college/cost-of-attendance/"><span class="glyphicon glyphicon-flash"></span> Expenses</a>
  </div>
</div>

  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> The Dorms</h3>
      <ul>
        The campus itself was stunning and so were the dorms. Everywhere you went was extremely clean even if it was an older building. In my four years in the university I lived in two dorms which
        were Dinallo Heights and the Village. Dinallo was a traditional dorm style which meant as soon as you walk in it's just a room with a bathroom, that's it. Although it doesn't seem like much
        it was actually really awesome. It was a very modern building which included lounges on every floor and games. Definitely a place for the younger students to hang out anf make friends. The
        Village on the other side was much different. A apartment style dorm which was where the older students and graduate students stayed at. It was less monitored since everyone was older
        so they knew how to behave themselves. Both were great dorms, each with different vibes but for sure worth every single penny paid.
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Campus Life</h3>
      <ul>
          Campus is huge, the 2nd biggest campus in New Jersey. There was always something to do which was awesome. Even when I was younger and was trying to find clubs and activies when not I wasn't in
          class there was always an event to go to. They ranged from educational events to Greek life to just fun things to do. One of my favorites was during midterms/finals week.
          It was an event called Furry Friends. It would be a day that they would bring animals for us to play with to help us destress. Depending on the weather the type of animals would change. Usually
          during warm weather they would bring farm animals that would be outside like horses, goats, chickens, etc and we would pet them and take pictures with the animals. During colder times it would
          just be dogs since the event would be held inside. It was a really nice gesture of them to understand that us college students are very stressed during exams and it really did help us.
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-php">Getting Started with PHP on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/deploying-php">Deploying PHP Apps on Heroku</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div>

{% endblock %}
